<h2>You can reach us</h2>
<p>Contacts:</p>
<div class="address">
    <strong>Our Company</strong><br>
    Street Address 123, CA<br>
    USA, 12321432<br>
    Phone: +326437827489328<br>
    E-mail: <a href="mailto:#">company@mail.com</a><br>
</div>
<div class="contact-us">
    <h2>Contact Us:</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Your name</mat-label>
          <input matInput placeholder="Ex. John" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    </form>
    <mat-radio-group aria-label="Select an option">
        <span class="gender">Gender:</span>
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
</div>